
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.home-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 3rem; /* ajusta tamaño */
  color: white;
  margin-bottom: 1rem;
}

.home-subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  
  /* Gradient effect */
  background: linear-gradient(90deg, #ff6a00, #ee0979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-top: 0.5rem;
}

.home-title{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  
  /* Gradient effect */
  background: linear-gradient(90deg, #ff6a00, #ee0979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-top: 0.5rem;
}


.home-about {
    font-family: 'Poppins', sans-serif;
    color: white;

    padding: 2rem 4rem;       /* padding vertical y horizontal */
    max-width: 1300px;         /* limita el ancho del texto */
    text-align: center;       /* centra el texto horizontalmente */
    margin: 0 auto;           /* centra el contenedor */
    line-height: 1.6;         /* mejora la legibilidad */
    font-size: 1.2rem;        /* tamaño de letra más cómodo */
}

.tech-title{
  color: white;

}

.tech-item{
  color: white;
  padding: 10px;
}

.cv-container {
  margin-top: 2rem;
}

.cv-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: linear-gradient(90deg, #007bff, #00c4ff);
  color: white;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.cv-button:hover {
  background: linear-gradient(90deg, #0056b3, #0090c1);
  transform: scale(1.05);
}
